@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

p {
	font-family: "Open Sans";
}

h2 {
	font-weight: bold;
}

.navbar-light .navbar-brand {
    color: #F80;
}

.caption {
  font-size: 0.7rem;
  font-style: italic;
}